<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa7090">  <td>16/06/22 01:39:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initTestSuite()[pri:0, instance:com.test.automation.qa.LoginTest@3834d63f]">&gt;&gt;initTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054798982</td>   <td></td> </tr>
<tr bgcolor="a79e9f">  <td>16/06/22 01:39:16</td>   <td>10307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLoginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.LoginTest@3834d63f]">invalidLoginTest</td> 
  <td>main@2054798982</td>   <td></td> </tr>
<tr bgcolor="a79e9f">  <td>16/06/22 01:39:21</td>   <td>15407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.postCondition()[pri:0, instance:com.test.automation.qa.LoginTest@3834d63f]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@2054798982</td>   <td></td> </tr>
<tr bgcolor="a79e9f">  <td>16/06/22 01:39:21</td>   <td>15505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLoginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.LoginTest@3834d63f]">invalidLoginTest</td> 
  <td>main@2054798982</td>   <td></td> </tr>
<tr bgcolor="a79e9f">  <td>16/06/22 01:39:24</td>   <td>18417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.postCondition()[pri:0, instance:com.test.automation.qa.LoginTest@3834d63f]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@2054798982</td>   <td></td> </tr>
<tr bgcolor="aa7090">  <td>16/06/22 01:39:24</td>   <td>18548</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test.automation.qa.LoginTest@3834d63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054798982</td>   <td></td> </tr>
</table>
