<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AllTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c9176">  <td>16/06/22 02:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initTestSuite()[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">&gt;&gt;initTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="9c9176">  <td>16/06/22 02:27:19</td>   <td>48478</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initTestSuite()[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&gt;&gt;initTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:26:41</td>   <td>10757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLoginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">invalidLoginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:26:46</td>   <td>16290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLoginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">invalidLoginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:26:50</td>   <td>19751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">loginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:26:59</td>   <td>28959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">loginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:27:11</td>   <td>40934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">loginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:28</td>   <td>57961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailTest.loginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">loginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:41</td>   <td>70957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailTest.loginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">loginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:54</td>   <td>83619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailTest.loginTest(com.test.automation.qa.model.User)[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">loginTest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:26:46</td>   <td>16168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.postCondition()[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:26:50</td>   <td>19641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.postCondition()[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:26:55</td>   <td>24685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.postCondition()[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:27:05</td>   <td>35068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.postCondition()[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>16/06/22 02:27:16</td>   <td>45889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.postCondition()[pri:0, instance:com.test.automation.qa.LoginTest@35851384]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:34</td>   <td>63485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EmailTest.postCondition()[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:46</td>   <td>76372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EmailTest.postCondition()[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:59</td>   <td>88968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EmailTest.postCondition()[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&lt;&lt;postCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:21</td>   <td>50910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmailTest.preCondition([Ljava.lang.Object;)[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&gt;&gt;preCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:36</td>   <td>65823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmailTest.preCondition([Ljava.lang.Object;)[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&gt;&gt;preCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>16/06/22 02:27:49</td>   <td>78851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmailTest.preCondition([Ljava.lang.Object;)[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&gt;&gt;preCondition</td> 
<td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="9c9176">  <td>16/06/22 02:28:01</td>   <td>91262</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test.automation.qa.EmailTest@2aafb23c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
</table>
